<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} details</h2>

  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>person</mat-icon>
      <mat-card-title>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            [maxLength]="MAX_LENGTH"
            [(ngModel)]="hero.name"
          />
          <mat-hint align="end"
            >{{ hero.name.length }} / {{ MAX_LENGTH }}</mat-hint
          >
        </mat-form-field>
      </mat-card-title>
      <mat-card-subtitle>Id: {{ hero.id }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goBack()">
        <mat-icon>keyboard_return</mat-icon> GO BACK
      </button>
      <button mat-raised-button color="accent" (click)="delete()">
        <mat-icon>delete</mat-icon> DELETE
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="save()"
        [disabled]="isDisabled"
      >
        <mat-icon>save</mat-icon> SAVE
      </button>
    </mat-card-actions>
  </mat-card>
</div>
