<mat-toolbar color="primary">
  <h1>{{ title }}</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon matListIcon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item routerLink="/heroes">
        <mat-icon matListIcon>people</mat-icon>
        Heroes
      </a>
      <a mat-list-item routerLink="/heroes/search">
        <mat-icon matListIcon>search</mat-icon>
        Search
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
