mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav .mat-list-base {
  padding-top: unset;
}

mat-sidenav-content {
  padding: 1rem;
}

@media (max-width: 600px) {
  mat-sidenav-container {
    height: calc(100vh - 56px);
  }
}
