<h2>My Heroes</h2>

<mat-nav-list>
  <a
    mat-list-item
    *ngFor="let hero of heroes; trackBy: trackByFn"
    routerLink="/detail/{{ hero.id }}"
  >
    {{ hero.id }}. {{ hero.name }}
  </a>
</mat-nav-list>

<button mat-raised-button color="primary" (click)="add()">
  <mat-icon>add_circle</mat-icon> NEW
</button>
