<h2>Hero Search</h2>

<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput type="text" #searchBox (input)="search(searchBox.value)" />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<mat-nav-list>
  <a
    mat-list-item
    *ngFor="let hero of heroes$ | async"
    routerLink="/detail/{{ hero.id }}"
  >
    {{ hero.name }}
  </a>
</mat-nav-list>
