<h2 matDialogTitle>New hero</h2>
<form [formGroup]="newHeroForm" (ngSubmit)="add(newHeroForm.value)">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Hero name</mat-label>
      <input
        matInput
        type="text"
        #name
        formControlName="name"
        required
        [maxLength]="MAX_LENGTH"
      />
      <mat-hint align="end">
        {{ name.value.length }} / {{ MAX_LENGTH }}
      </mat-hint>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      type="submit"
      mat-raised-button
      [mat-dialog-close]="false"
      tabindex="-1"
    >
      <mat-icon>cancel</mat-icon> CANCEL
    </button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      tabindex="-1"
      [disabled]="!newHeroForm.valid"
    >
      <mat-icon>check_circle</mat-icon> CREATE
    </button>
  </mat-dialog-actions>
</form>
